/*** 
BGPDATA - BGP Data Collection and Analytics Service

This software is part of the BGPDATA project, which is designed to collect, process, and analyze BGP data from various sources.
It helps researchers and network operators get insights into their network by providing a scalable and reliable way to analyze and inspect historical and live BGP data from RIPE NCC RIS.

Author: Robin Röper

© 2024 BGPDATA. All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
1. Redistributions of source code must retain the above copyright notice, this list of conditions, and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions, and the following disclaimer in the documentation and/or other materials provided with the distribution.
3. Neither the name of BGPDATA nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
***/
#footer {
    color: #f4f4f4;
    background-color: #262626;
    padding-top: 3rem;

    .footer__content {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        margin-right: auto;
        margin-left: auto;
        max-width: 99rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 3rem;

        .content__logo {
            margin-left: 20px;
            height: 50px;
        }

        .content__social {
            margin-left: 13%;
            display: flex;
            flex-direction: column;
            flex: 0 0 70%;
            max-width: 70%;
            font-size: 0.825rem;
            row-gap: 5px;

            .social__title {
                font-weight: 500;
            }

            .social__link {
                text-decoration: none;
                transition: color .1s linear;
                display: flex;
                align-items: center;
                color: #c6c6c6;
                cursor: pointer;
                column-gap: 5px;

                &:hover {
                    color: #ffffff;
                }

                svg {
                    width: 16px;
                    height: 16px;
                } 
            }
        }
    }

    .footer__navigation {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        border-top: 1px solid #525252;
        margin-right: auto;
        margin-left: auto;
        max-width: 99rem;

        .navigation__list {
            display: flex;
            width: 100%;
            margin: 0;
            padding: 1rem;
            column-gap: 2rem;
            list-style: none;
            color: #c6c6c6;
            font-weight: 200;

            .list__link {
                text-decoration: none;
                color: inherit;

                &:hover {
                    color: #f4f4f4;
                    text-decoration: underline;
                }
            }
        }
    }
}