#header {
    border-bottom: 1px solid #e0e0e0;
    height: 4rem;
    width: 100%;

    .header__container {
        max-width: 99rem;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .container__skip-to-content {
            display: none;
        }

        .container__logo {
            height: 35.5px;
            width: 262px;
        }

        .container__search {
            flex-grow: 1;
            max-width: 900px;
            height: 100%;
            background: #f4f4f4;
            position: relative;
            display: none;

            &:after {
                content: '';
                display: block;
                height: 2.5px;
                width: 100%;
                background: #204ff5;
                position: absolute;
                bottom: -1px;
                left: 0;
            }
        }

        .container__actions {
            display: flex;
            justify-content: flex-end;
            padding: 0 10px;
            width: 262px;

            .actions__button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                background: transparent;
                border: 0;
                cursor: pointer;
                font-size: 1.25rem;
                transition: background 110ms;
                
                &:hover {
                    background: #e0e0e0;
                }
            }
        }
    }
}
