#header {
    border-bottom: 1px solid #e0e0e0;
    height: 68px;
    width: 100%;

    .header__container {
        max-width: 99rem;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .container__skip-to-content {
            display: none;
        }

        .container__logo {
            height: 35.5px;
            width: 262px;
        }

        .container__search {
            flex-grow: 1;
            max-width: 900px;
            height: 100%;
            background: #f4f4f4;
        }

        .container__profile {
            padding: 0 40px;
            width: 262px;
        }
    }
}
