/*** 
BGPDATA - BGP Data Collection and Analytics Service

This software is part of the BGPDATA project, which is designed to collect, process, and analyze BGP data from various sources.
It helps researchers and network operators get insights into their network by providing a scalable and reliable way to collect and process BGP data.

Author: Robin Röper

© 2024 BGPDATA. All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
1. Redistributions of source code must retain the above copyright notice, this list of conditions, and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions, and the following disclaimer in the documentation and/or other materials provided with the distribution.
3. Neither the name of BGPDATA nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
***/
.graph {
  .graph__touch-events {
  }

  .graph__zoom {
    &--in {
    }
    &--out {
    }
  }

  .graph__node {
  }
}

/* Heads up: The code below is legacy code and is expected to be deleted. */

.bgplay {
  padding: 0;
  position: relative;
  margin-right: 14px;
  margin-left: 14px;
  margin-bottom: 0px;
  text-align: center;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
}

.bgplay input[type="text"] {
  height: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #1b91e0;
  border: 1px solid #c0c0c0;
  background: #f5fcff;
}

.bgplay input[type="text"]:hover {
  background: #ffffff;
}

.bgplay label {
  font-size: 12px;
  font-weight: bold;
}

.bgplay .bgplayMainDiv {
  width: 100%;
}

.bgplay .bgplay__info {
  text-align: left;
  height: 120px;
  padding: 5px 5px 5px 15px;
  line-height: 18px;
  overflow-x: auto;
  overflow-y: scroll;
  font-size: 13px;
  margin-bottom: 2px;
  margin-right: 0px;
  margin-top: 20px;
  border: 1px solid #c0c0c0;
  background: #ffffff;
  border-radius: 0px;
  position: relative;
}

.bgplay .main__legend {
  text-align: left;
  line-height: 12px;
  overflow: hidden;
  font-size: 10px;
  margin-bottom: 2px;
  margin-right: 0px;
  border: 0px solid #c0c0c0;
  background: #ffffff;
  border-radius: 0px;
  position: relative;
  font-size: 10px;
  font-weight: bold;
}

.bgplay .bgplay__info > div {
  text-align: left;
  max-width: calc(100% - 220px);
}

.bgplay .bgplay__info > div:nth-of-type(2) {
  margin-top: 25px;
  clear: both;
}

.bgplay .bgplay__info > .more {
  width: 100px;
  margin-left: 20px;
  height: 20px;
  text-transform: uppercase;
  background: url(../html/img/bgplay.png) left no-repeat;
  padding-left: 18px;
  padding-top: 7px;
  font-size: 10px;
  z-index: 100;
}

.bgplay .main__graph {
  margin: 0px 3px 0px 0px;
  height: calc(100% - 50px);
  padding: 5px;
  /* border:1px solid #C0C0C0; */
  background: #ffffff;
  border-radius: 0px;
  position: relative;
}

.bgplay .main__graph .zoom-controls {
  position: absolute;
  right: 5px;
  border: 1px solid #c0c0c0;
  background: #f1f1f1;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  z-index: 100;
  cursor: pointer;
}

.bgplay .main__graph .zoom-in {
  top: -25px;
}

.bgplay .main__graph .zoom-out {
  top: 7px;
}

.bgplay .bgplay__main {
  border: 1px solid #c0c0c0;
  margin-top: 20px;
}

.bgplay .bgplayNodeContainer::after {
  content: url(../html/img/bgplayripestat.svg);
  position: absolute;
  z-index: 100000;
  bottom: -10px;
  left: 5px;
}

.bgplay .bgplayNodeContainer {
  cursor: move;
  background-repeat: repeat;
}

.bgplay .bgplay__timeline {
  height: 180px;
  margin-top: 20px;
  margin-right: 3px;
  margin-left: 0px;
  text-align: center;
  background: #ffffff;
  border: 0px solid #c0c0c0;
  border-radius: 0px;
}

.bgplay .bgplayTimelineControlDiv {
  position: relative;
  margin: auto;
  height: 85px;
  overflow: hidden;
}

.bgplay .bgplayTimelineControlDiv div:nth-child(3) {
  clear: both;
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bgplay .bgplayTimelineControlCanvas {
  cursor: pointer;
  margin: auto;
}

.bgplay .bgplayControlAnimationStartPause {
  width: 40px;
  height: 40px;
  float: left;
  top: 1px;
  position: relative;
}

.bgplay .bgplayControlAnimationStop {
  width: 40px;
  height: 40px;
  float: left;
}

.bgplay .bgplayControlAnimationNext {
  width: 32px;
  height: 32px;
  float: left;
}

.bgplay .bgplayControlAnimationPrev {
  width: 32px;
  height: 32px;
  float: left;
}

.bgplay .bgplayControlAnimationPrev:hover svg,
.bgplay .bgplayControlAnimationNext:hover svg,
.bgplay .bgplayControlAnimationStartPause:hover svg,
.bgplay .bgplayControlAnimationStop:hover svg {
  fill: grey;
}

.bgplay .bgplayControlAnimationPrev svg,
.bgplay .bgplayControlAnimationNext svg,
.bgplay .bgplayControlAnimationStartPause svg,
.bgplayControlAnimationStop svg {
  fill: #080037;
}

.bgplay .bgplayControlStreamingOn {
  width: 32px;
  height: 32px;
  float: left;
}

.bgplay .bgplayControlStreamingOff {
  width: 32px;
  height: 32px;
  float: left;
}

.bgplay .bgplayControlAnimationDiv {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}

.bgplayControlAnimationDiv img,
.bgplayControlAnimationDiv svg {
  cursor: pointer;
  top: 0px;
  position: relative;
}

.bgplay .bgplayTitle {
  font-size: 16px;
  font-weight: bold;
  color: #080037;
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: 2;
}

.bgplay .ui-slider-handle {
  border-radius: 50%;
}

.bgplay .ui-slider-range {
  height: 3px;
}

.bgplay .bgplayTimelineControlCanvasSlider {
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  cursor: ew-resize;
  width: 16px;
  height: 16px;
}

.bgplay .bgplayTimelineControlCanvasSliderLeft {
  left: 0px;
  /* width/2 */
  background: url(../html/img/arrow-from-left-light.svg) no-repeat;
}

.bgplay .bgplayTimelineControlCanvasSliderRight {
  right: 0px;
  /* width/2 */
  background: url(../html/img/arrow-from-right-light.svg) no-repeat;
}

.bgplay .bgplayTimelineSelectionWaitIco {
  display: none;
  margin: auto;
}

.bgplay .bgplayTimelineSelectionCanvas {
  cursor: pointer;
  margin-top: 10px;
}

.bgplay .bgplayTimelineSelectionDiv {
  overflow: hidden;
  margin: auto;
  position: relative;
  margin-top: 10px;
}

.bgplayLoadingInformation {
  width: 220px;
  margin: auto;
  margin-top: 30px;
  background: #ffffff url(../html/img/loading.gif) top no-repeat;
}

.bgplayLoadingInformation .loadingLog {
  padding-top: 20px;
}

.bgplay .bgplayTimelineSelectionWarpIco {
  display: none;
}

.bgplay .bgplayTimelineSelectionNext {
  margin-top: -50px;
  width: 20px;
  float: right;
  display: none;
}

.bgplay .bgplayTimelineSelectionNext:hover,
.bgplay .bgplayTimelineSelectionPrev:hover {
  fill: grey;
  cursor: pointer;
}

.bgplay .bgplayTimelineSelectionPrev {
  margin-top: -50px;
  width: 20px;
  float: left;
  display: none;
}

.bgplayControlPrefixDiv {
  margin-top: 10px;
  width: auto;
  margin: auto;
  text-align: left;
  display: none;
}

.bgplay .bgplayControlPrefixDelete {
  float: right;
  margin-top: 4px;
  margin-left: 2px;
}

.bgplayControlPrefixDiv input[type="text"] {
  width: 260px;
  /*320px for ipv6 prefix*/
  margin-bottom: 5px;
  float: left;
}

.bgplay .bgplayControlPrefixMore {
  cursor: pointer;
  clear: both;
  float: right;
}

.bgplay .main__controls {
  position: absolute;
  clear: both;
  width: 220px;
  height: 130px;
  right: 0px;
  z-index: 1006;
  top: 0px;
  background: #e3e3e3;
  border: 1px solid #c0c0c0;
  border-radius: 0px 0px 0px 0px;

  /*box-shadow: 5px 5px 5px #888888;*/
}

@media only screen and (max-width: 640px) {
  .bgplay .main__controls {
    top: -110px;
    background: white;
    border: 0;
    width: 100%;
    height: 80px;
  }

  .bgplay .bgplay__info {
    margin-top: 80px;
  }

  .bgplay .bgplay__info > div {
    text-align: left;
    max-width: calc(100%);
  }

  .bgplay .bgplayOptionsPopup > div {
    border: 0px !important;
    flex: 0 0 100% !important;
  }

  .main__legend > div {
    margin: auto;
    flex-basis: 30%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto !important;
  }

  .bgplay .main__legend {
    position: absolute;
    top: 155px;
    z-index: 5000;
    float: left;
    width: 98%;
  }

  .bgplay .main__graph {
    margin: 30px 3px 0px 0px;
    height: calc(100% - 50px);
    padding: 5px;
    /* border: 1px solid #C0C0C0; */
    background: #ffffff;
    border-radius: 0px;
    position: relative;
  }
}

.controlsButtons {
  padding-bottom: 20px;
  clear: both;
  text-align: center !important;
}

.bgplay .main__controls:hover {
  /*
    background:#D2EEFA;
 */
}

.bgplay .bgplayControlPanelDivFlagIco {
  position: absolute;
  right: 10px;
  top: 2px;
  cursor: pointer;
  display: none;
}

.bgplay .bgplayControlApplyButton {
  width: auto;
  padding: 5px;
  margin-bottom: 20px;
}

.bgplay .bgplayControlDiscardButton {
  width: auto;
  padding: 5px;
}

.bgplay .bgplayButtonsDiv {
  margin-top: 20px;
  margin-left: -10px;
}

.bgplay .bgplayButtonsDiv .button {
  margin: 5px;
  font-family: "Public Sans";
  font-size: 12px;
  color: #080037;
  border: 1px solid #080037;
  padding: 10px;
  text-decoration: none;
}

.bgplay .bgplayButtonsDiv .popup {
  border-radius: 0px;
  border: 0px solid #c0c0c0;
  padding: 10px;
  background: #ffffff;
}

.bgplay .bgplayButtonsDiv .left {
  text-align: left;
  margin: 5px;
  margin-bottom: 15px;
  display: none;
}

.bgplay .bgplayControlPanelDivComplete {
  display: none;
  z-index: 1006;
}

.bgplay .bgplayControlPanelDivComplete > div {
  width: 95%;
  clear: both;
  margin: auto auto 10px;
  text-align: left;
}

label[for="bgplayStarttimestampPicker"],
label[for="bgplayEndtimestampPicker"] {
  width: 100px;
  display: none;
}

label[for="bgplayControlPrefixValue"] {
  margin-top: 0px;
  margin-bottom: 10px;
  float: left;
  display: none;
}

.bgplay .getsvg {
  background: rgba(8, 0, 55, 1);
  transition: background 0.5s ease-out;
}

.bgplay input.getsvg:hover {
  cursor: pointer;
  transition:
    background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1),
    opacity 0.4s cubic-bezier(0.25, 0.8, 0.5, 1);
  background: rgba(8, 0, 55, 0.9);
}

.bgplay .bgplayStarttimestampPicker {
  width: 150px;
  margin-top: 10px;
  display: none;
}

.bgplay .bgplayEndtimestampPicker {
  width: 150px;
  margin-top: 10px;
  display: none;
}

.bgplay .bgplayRrcsSelect {
  height: 25px;
  float: left;
  width: 115px;
}

.bgplay .bgplayRrcsSelect label {
  font-weight: normal;
  text-shadow: none;
  margin-right: 10px;
}

.bgplay .bgplaySuppressReannounceDiv {
  position: relative;
  margin-bottom: 20px;
}

.bgplay .bgplayTimelineSelectionSliderLeft {
  z-index: 2;
  left: 0;
  position: absolute;
  display: none;
}

.bgplay .bgplayTimelineSelectionSliderRight {
  z-index: 2;
  right: 0;
  position: absolute;
  display: none;
}

.bgplay .bgplayGDBPlotDiv {
  display: none;
}

.bgplay .bgplayTimelineControlCanvasText {
  height: 15px;
  font-size: 12px;
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  color: #000000;
  text-align: center;
  padding: 10px;
}

.bgplay .bgplayTimelineControlCanvasDate {
  height: 15px;
  color: #f70000;
  font-size: 12px;
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.bgplay .touchGraphEvents {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  border: 0;
}

.bgplay span.skype_pnh_container {
  display: none !important;
}

.bgplay span.skype_pnh_print_container {
  display: inline !important;
}

.bgplay .bgplayScreenshot {
  width: 36px;
  height: 35px;
  background: url("../html/img/screenshot.png") no-repeat;
  position: absolute;
  right: 40px;
  top: 4px;
}

.bgplay .bgplayScreenshot:hover {
  background: url("../html/img/screenshot_hover.png") no-repeat;
}

.bgplay .bgplayFullscreen {
  width: 36px;
  height: 35px;
  background: url("../html/img/fullscreen.png") no-repeat;
  position: absolute;
  right: 76px;
  top: 4px;
}

.bgplay .bgplayFullscreen:hover {
  background: url("../html/img/fullscreen_hover.png") no-repeat;
}

.bgplayInfoAlert,
.bgplaySuccessAlert,
.bgplayWarningAlert,
.bgplayErrorAlert,
.bgplayValidationAlert {
  z-index: 5026;
  border: 1px solid;
  padding: 15px 10px 15px 50px;
  background: no-repeat 10px center;
  font-size: 12px;
  font-weight: bold;
  display: none;
  margin: 0 auto;
  width: 400px;
  margin-top: 20px;
}

.bgplayInfoAlert {
  color: #00529b;
  background: #bde5f8 url(../html/img/infoAlert.png) no-repeat;
}

.bgplaySuccessAlert {
  color: #4f8a10;
  background: #dff2bf url(../html/img/successAlert.png) no-repeat;
}

.bgplayWarningAlert {
  color: #9f6000;
  background: #feefb3 url(../html/img/attentionAlert.png) no-repeat;
}

.bgplayErrorAlert {
  color: #d8000c;
  background: #ffbaba url(../html/img/errorAlert.png) no-repeat;
}

.bgplayValidationAlert {
  color: #d63301;
  background: #ffccba url(../html/img/validationAlert.png) no-repeat;
}

.bgplayControlAnimationRepeat {
  background: url(../html/img/repeatEvent.png) no-repeat;
  width: 32px;
  height: 32px;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unselectable * {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.json_nodes textarea {
  width: 95%;
  height: 120px;
  margin: auto;
}

.json_nodes input[type="button"] {
  width: 55px;
}

.json_nodes .nodePositionButtons {
  width: 100%;
  text-align: right;
}

.main__legend > div {
  margin: auto;
  width: 590px;
}

.main__legend .bgplayLegendItem {
  margin: 3px;
  float: left;
  text-align: center;
  font-family: "Public Sans";
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
}

.bgplay .searchNode {
  z-index: 1000;
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 10px;
  border-radius: 2px 2px 2px 2px;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}

.bgplay .searchNode input {
  background: white;
  height: 25px;
}

.bgplay .bgplayOptionsPopup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bgplay .bgplayOptionsPopup > div {
  border: 0px !important;
  flex: 0 0 22%;
}

.bgplay .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 0px solid #d9d9d9;
  background: #080037;
  font-weight: normal;
  color: #080037;
}

.bgplay .ui-widget-content {
  border: 0px solid #d9d9d9;
  background: silver;
  color: #080037;
}

.bgplay .ui-slider-horizontal {
  height: 3px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.bgplay .ui-widget-header {
  border: 0px solid #ffffff;
  background: #080037;
  color: #ffffff;
  font-weight: bold;
}

.bgplay .ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
  margin-left: -0.4em;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
  background: transparent;
  margin-bottom: 8px;
  font-size: 12px;
}

.ui-timepicker-div dl {
  text-align: left;
}

.ui-timepicker-div dl dt {
  height: 25px;
  margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
  font-size: 14px;
}

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

/* Tiny Scrollbar */
div.bgplayControlPrefixDiv div.viewport {
  width: 290px;
  height: 80px;
  overflow: hidden;
  position: relative;
}

div.bgplayControlPrefixDiv div.overview {
  width: 290px;
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

div.bgplayControlPrefixDiv .scrollbar {
  background: transparent url("../html/img/bg-scrollbar-track-y.png") no-repeat
    0 0;
  position: relative;
  background-position: 0 0;
  float: right;
  width: 15px;
}

div.bgplayControlPrefixDiv .track {
  background: transparent url("../html/img/bg-scrollbar-trackend-y.png")
    no-repeat 0 100%;
  height: 100%;
  width: 13px;
  position: relative;
  padding: 0 1px;
}

div.bgplayControlPrefixDiv .thumb {
  background: transparent url("../html/img/bg-scrollbar-thumb-y.png") no-repeat
    50% 100%;
  height: 20px;
  width: 25px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -5px;
}

div.bgplayControlPrefixDiv .thumb .end {
  background: transparent url("../html/img/bg-scrollbar-thumb-y.png") no-repeat
    50% 0;
  overflow: hidden;
  height: 5px;
  width: 25px;
}

div.bgplayControlPrefixDiv .disable {
  display: none;
}

div.bgplayControlPrefixDiv .noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
