flask
Flask-Compress==1.9.0
postmarker
APScheduler
gunicorn
flask-cors
flask-talisman
alt-profanity-check
libsass
sqlalchemy[asyncio]
pybgpstream
asyncpg
alembic==1.7.7
pytz
bleach
Cython>=0.29.24
numpy==1.19.5