{% extends 'base.html' %}

{% block title %}
AS{{ asn }}
{% endblock %}

{% block content %}
<div class="content__as">
    <div class="as__hero">
        <div class="hero__container">
            <h1 class="container__heading">{{ as_name }}</h1>
            <div class="container__asn">AS{{ asn }}</div>
        </div>
    </div>
    <div class="as__content">
        <div class="content__left-column">
            Test 1234
        </div>
        <div class="content__right-column">
            <div class="right-column__edit">
                <span class="edit__title">Is this information correct?</span>
                <button class="edit__button">Edit</button>
            </div>
            <div class="right-column__details">
                <span class="details__title">Network Information</span>
                <div class="details__section">
                    <span class="section__title">Registered on</span>
                    <span class="section__value">13 Jul 2000 (24 years old)</span>
                </div>
                <div class="details__section">
                    <span class="section__title">Network type</span>
                    <span class="section__value">Eyeball</span>
                </div>
                <div class="details__section">
                    <span class="section__title">Network status</span>
                    <span class="section__value">Active, Allocated under RIPE</span>
                </div>
                <div class="details__section">
                    <span class="section__title">Prefixes Originated</span>
                    <span class="section__value">6 IPv4, 0 IPv6</span>
                </div>
            </div>
            <div class="right-column__action">
                <span class="action__title">Manage My Notification Subscriptions</span>
                <button class="action__button">Log in to Subscribe</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}