<!--
BGPDATA - BGP Data Collection and Analytics Service

This software is part of the BGPDATA project, which is designed to collect, process, and analyze BGP data from various sources.
It helps researchers and network operators get insights into their network by providing a scalable and reliable way to analyze and inspect historical and live BGP data from RIPE NCC RIS.

Author: Robin Röper

© 2024 BGPDATA. All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
1. Redistributions of source code must retain the above copyright notice, this list of conditions, and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions, and the following disclaimer in the documentation and/or other materials provided with the distribution.
3. Neither the name of BGPDATA nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
{% extends 'base.html' %}

{% block title %}
AS{{ asn }}
{% endblock %}

{% block content %}
<div class="content__as">
    <div class="as__hero">
        <div class="hero__container">
            <h1 class="container__heading">{{ as_name }}</h1>
            <div class="container__asn">AS{{ asn }}</div>
        </div>
    </div>
    <div class="as__content">
        <div class="content__left-column">
            <ul
                class="left-column__tabs"
                data-current-section="Popular resources"
            >
                <li>
                    <a
                        class="tabs__item tabs__item--active"
                        data-label="Popular resources"
                        href="#popular-resources"
                        aria-current="location"
                        >Overview</a
                    >
                </li>
                <li>
                    <a
                        class="tabs__item"
                        data-label="Documentation &amp; communities"
                        href="#documentation-communities"
                        >Prefixes</a
                    >
                </li>
                <li>
                    <a
                        class="tabs__item"
                        data-label="Downloads, fixes &amp; updates"
                        href="#downloads-fixes-updates"
                        >Connectivity</a
                    >
                </li>
                <li>
                    <a
                        class="tabs__item"
                        data-label="Support basics"
                        href="#support-basics"
                        >Whois</a
                    >
                </li>
                <li>
                    <a
                        class="tabs__item"
                        data-label="The fine print"
                        href="#the-fine-print"
                        >Internet Exchange</a
                    >
                </li>
                <li>
                    <a
                        class="tabs__item"
                        data-label="The fine print"
                        href="#the-fine-print"
                        >Measurements</a
                    >
                </li>
                <li>
                    <a
                        class="tabs__item"
                        data-label="The fine print"
                        href="#the-fine-print"
                        >Statistics</a
                    >
                </li>
            </ul>
            <div class="left-column__content">
                <section class="content__section">
                    <h2 class="section__title" id="popular-resources">Popular resources</h2>
                    <div class="section__grid">
                        <a class="grid__item grid__item--dark">
                            <div class="item__eyebrow">
                                Downloads
                            </div>
                            <h3 class="item__heading">
                                Fix Central
                            </h3>
                            <div class="item__description">
                                Download fixes and updates for your software, hardware and operating system
                            </div>
                            <i class="fa-sharp fa-light fa-arrow-right"></i>
                        </a>
                        <a class="grid__item grid__item--dark">
                            <div class="item__eyebrow">
                                Downloads
                            </div>
                            <h3 class="item__heading">
                                Passport Advantage
                            </h3>
                            <div class="item__description">
                                Download your IBM software products, licenses, subscriptions and upgrades
                            </div>
                            <i class="fa-sharp fa-light fa-arrow-right"></i>
                        </a>
                        <a class="grid__item grid__item--dark">
                            <div class="item__eyebrow">
                                Documentation
                            </div>
                            <h3 class="item__heading">
                                IBM Documentation
                            </h3>
                            <div class="item__description">
                                Search through all product documentation
                            </div>
                            <i class="fa-sharp fa-light fa-arrow-right"></i>
                        </a>
                        <a class="grid__item grid__item--dark">
                            <div class="item__eyebrow">
                                Community
                            </div>
                            <h3 class="item__heading">
                                Support forums
                            </h3>
                            <div class="item__description">
                                Get questions answered by support professionals and other users
                            </div>
                            <i class="fa-sharp fa-light fa-arrow-right"></i>
                        </a>
                        <a class="grid__item grid__item--dark">
                            <div class="item__eyebrow">
                                Offerings
                            </div>
                            <h3 class="item__heading">
                                Support plans
                            </h3>
                            <div class="item__description">
                                Explore and compare support options
                            </div>
                            <i class="fa-sharp fa-light fa-arrow-right"></i>
                        </a>
                        <a class="grid__item grid__item--dark">
                            <div class="item__eyebrow">
                                Help desk
                            </div>
                            <h3 class="item__heading">
                                Get help
                            </h3>
                            <div class="item__description">
                                Report a problem submitting a case or registering for support
                            </div>
                            <i class="fa-sharp fa-light fa-clipboard"></i>
                        </a>
                    </div>
                </section>
                <section class="content__section">
                    <h2 class="section__title" id="documentation-communities">Documentation & communities</h2>
                    <div class="section__grid section__grid--small-gap">
                        <a class="grid__item">
                            <div class="item__eyebrow">
                                Support forums
                            </div>
                            <div class="item__description">
                                Get questions answered by support professionals and other users
                            </div>
                            <i class="fa-sharp fa-thin fa-people-group"></i>
                        </a>
                        <a class="grid__item">
                            <div class="item__eyebrow">
                                Developer education
                            </div>
                            <div class="item__description">
                                Learn from our resources and contribute to open source projects
                            </div>
                            <i class="fa-sharp fa-thin fa-lines-leaning"></i>
                        </a>
                        <a class="grid__item">
                            <div class="item__eyebrow">
                                Support for Business Partners
                            </div>
                            <div class="item__description">
                                If you’re an IBM Business Partner, log in to IBM Partner Plus to get help and support
                            </div>
                            <i class="fa-sharp fa-thin fa-city"></i>
                        </a>
                        <a class="grid__item">
                            <div class="item__eyebrow">
                                IBM Documentation
                            </div>
                            <div class="item__description">
                                Search through all product documentation
                            </div>
                            <i class="fa-sharp fa-thin fa-landmark-dome"></i>
                        </a>
                        <a class="grid__item">
                            <div class="item__eyebrow">
                                Support site instructions
                            </div>
                            <div class="item__description">
                                We're making your support experience even better with these instructional articles
                            </div>
                            <i class="fa-sharp fa-thin fa-shapes"></i>
                        </a>
                        <a class="grid__item">
                            <div class="item__eyebrow">
                                Ideas for enhancements
                            </div>
                            <div class="item__description">
                                Do you have an idea for improving a product? Submit it here.
                            </div>
                            <i class="fa-sharp fa-thin fa-lightbulb-cfl"></i>
                        </a>
                        <a class="grid__item">
                            <div class="item__eyebrow">
                                IBM Training
                            </div>
                            <div class="item__description">
                                Building skills is an investment in your future. IBM Training is your source for quality training.
                            </div>
                            <i class="fa-sharp fa-thin fa-brain"></i>
                        </a>
                    </div>
                </section>
            </div>
        </div>
        <div class="content__right-column">
            <div class="right-column__manage">
                <span class="manage__title">Manage</span>
                <div class="manage__actions">
                    <button class="actions__button">
                        Edit
                    </button>
                    <button class="actions__button">
                        Notifications
                    </button>
                </div>
            </div>
            <div class="right-column__details">
                <span class="details__title">Network Information</span>
                <div class="details__section">
                    <span class="section__title">Registered on</span>
                    <span class="section__value">13 Jul 2000 (24 years old)</span>
                </div>
                <div class="details__section">
                    <span class="section__title">Website</span>
                    <a class="section__value" href="https://www.example.com" target="_blank">https://www.example.com</a>
                </div>
                <div class="details__section">
                    <span class="section__title">Network type</span>
                    <span class="section__value">Eyeball</span>
                </div>
                <div class="details__section">
                    <span class="section__title">Network status</span>
                    <span class="section__value">Active, Allocated under RIPE</span>
                </div>
                <div class="details__section">
                    <span class="section__title">Prefixes Originated</span>
                    <span class="section__value">6 IPv4, 0 IPv6</span>
                </div>
            </div>
            <div class="right-column__action">
                <span class="action__label">Manage My Notification Subscriptions <i class="fa-sharp fa-light fa-circle-info"></i></span>
                <button class="action__button">Log in to Subscribe</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}