{% extends 'base.html' %}

{% block title %}
BGPDATA &mdash; {{ resource }}
{% endblock %}

{% block content %}
<div class="content__index">
    <div class="index__hero">
        <div class="hero__container">
            <span class="container__welcome-message"></span>
            <h1 class="container__heading">
                Explore the Internet
            </h1>
            <form
                class="container__search"
                role="search"
            >
                <i class="fa-sharp fa-light fa-magnifying-glass"></i>
                <label
                    class="search__label"
                    for="searchbar"
                >Search</label
                ><input
                    class="search__input"
                    type="text"
                    role="searchbox"
                    autocomplete="off"
                    id="searchbar"
                    placeholder="Enter an IP address/prefix, ASN, country code or hostname"
                />
                <button
                    class="search__clear"
                    aria-label="Clear search"
                >
                    <i class="fa-sharp fa-light fa-xmark"></i>
                </button>
                <div class="search__quickstart">
                    <div class="quickstart__my">
                        Your network:
                        <a class="my__asn" href="#">&nbsp;</a>,
                        <a class="my__prefix" href="#">&nbsp;</a>
                    </div>
                    <div class="quickstart__random">
                        Try one of these:
                        <a class="random__ipv4prefix" href="#">IPv4 Prefix</a>,
                        <a class="random__ipv4range" href="#">IPv4 Range</a>,
                        <a class="random__ipv6" href="#">IPv6</a>,
                        <a class="random__asn" href="#">ASN</a>
                    </div>
                </div>
            </form>
            <div class="container__cards">
                <a class="cards__item">
                    <div class="item__title">View your cases</div>
                    <div class="item__description">
                        Check the status of active cases and review case history
                    </div>
                    <i class="fa-sharp fa-light fa-eye"></i>
                </a>
                <a class="cards__item">
                    <div class="item__title">Open a case</div>
                    <div class="item__description">
                        If you're unable to resolve an issue on your own, receive help from our experts
                    </div>
                    <i class="fa-sharp fa-light fa-folder-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="index__content">
        <div class="content__wrapper">
            <div class="wrapper__container">
                <ul
                    class="container__table-of-contents"
                    data-current-section="Popular resources"
                >
                    <li>
                        <a
                            class="table-of-contents__item table-of-contents__item--active"
                            data-label="Popular resources"
                            href="#popular-resources"
                            aria-current="location"
                            >Popular resources</a
                        >
                    </li>
                    <li>
                        <a
                            class="table-of-contents__item"
                            data-label="Documentation &amp; communities"
                            href="#documentation-communities"
                            >Documentation &amp; communities</a
                        >
                    </li>
                    <li>
                        <a
                            class="table-of-contents__item"
                            data-label="Downloads, fixes &amp; updates"
                            href="#downloads-fixes-updates"
                            >Downloads, fixes &amp; updates</a
                        >
                    </li>
                    <li>
                        <a
                            class="table-of-contents__item"
                            data-label="Support basics"
                            href="#support-basics"
                            >Support basics</a
                        >
                    </li>
                    <li>
                        <a
                            class="table-of-contents__item"
                            data-label="The fine print"
                            href="#the-fine-print"
                            >The fine print</a
                        >
                    </li>
                </ul>
                <div class="container__content">
                    <section class="content__section">
                        <h2 class="section__title" id="popular-resources">Popular resources</h2>
                        <div class="section__grid">
                            <a class="grid__item grid__item--dark">
                                <div class="item__eyebrow">
                                    Downloads
                                </div>
                                <h3 class="item__heading">
                                    Fix Central
                                </h3>
                                <div class="item__description">
                                    Download fixes and updates for your software, hardware and operating system
                                </div>
                                <i class="fa-sharp fa-light fa-arrow-right"></i>
                            </a>
                            <a class="grid__item grid__item--dark">
                                <div class="item__eyebrow">
                                    Downloads
                                </div>
                                <h3 class="item__heading">
                                    Passport Advantage
                                </h3>
                                <div class="item__description">
                                    Download your IBM software products, licenses, subscriptions and upgrades
                                </div>
                                <i class="fa-sharp fa-light fa-arrow-right"></i>
                            </a>
                            <a class="grid__item grid__item--dark">
                                <div class="item__eyebrow">
                                    Documentation
                                </div>
                                <h3 class="item__heading">
                                    IBM Documentation
                                </h3>
                                <div class="item__description">
                                    Search through all product documentation
                                </div>
                                <i class="fa-sharp fa-light fa-arrow-right"></i>
                            </a>
                            <a class="grid__item grid__item--dark">
                                <div class="item__eyebrow">
                                    Community
                                </div>
                                <h3 class="item__heading">
                                    Support forums
                                </h3>
                                <div class="item__description">
                                    Get questions answered by support professionals and other users
                                </div>
                                <i class="fa-sharp fa-light fa-arrow-right"></i>
                            </a>
                            <a class="grid__item grid__item--dark">
                                <div class="item__eyebrow">
                                    Offerings
                                </div>
                                <h3 class="item__heading">
                                    Support plans
                                </h3>
                                <div class="item__description">
                                    Explore and compare support options
                                </div>
                                <i class="fa-sharp fa-light fa-arrow-right"></i>
                            </a>
                            <a class="grid__item grid__item--dark">
                                <div class="item__eyebrow">
                                    Help desk
                                </div>
                                <h3 class="item__heading">
                                    Get help
                                </h3>
                                <div class="item__description">
                                    Report a problem submitting a case or registering for support
                                </div>
                                <i class="fa-sharp fa-light fa-clipboard"></i>
                            </a>
                        </div>
                    </section>
                    <section class="content__section">
                        <h2 class="section__title" id="documentation-communities">Documentation & communities</h2>
                        <div class="section__grid section__grid--small-gap">
                            <a class="grid__item">
                                <div class="item__eyebrow">
                                    Support forums
                                </div>
                                <div class="item__description">
                                    Get questions answered by support professionals and other users
                                </div>
                                <i class="fa-sharp fa-thin fa-people-group"></i>
                            </a>
                            <a class="grid__item">
                                <div class="item__eyebrow">
                                    Developer education
                                </div>
                                <div class="item__description">
                                    Learn from our resources and contribute to open source projects
                                </div>
                                <i class="fa-sharp fa-thin fa-lines-leaning"></i>
                            </a>
                            <a class="grid__item">
                                <div class="item__eyebrow">
                                    Support for Business Partners
                                </div>
                                <div class="item__description">
                                    If you’re an IBM Business Partner, log in to IBM Partner Plus to get help and support
                                </div>
                                <i class="fa-sharp fa-thin fa-city"></i>
                            </a>
                            <a class="grid__item">
                                <div class="item__eyebrow">
                                    IBM Documentation
                                </div>
                                <div class="item__description">
                                    Search through all product documentation
                                </div>
                                <i class="fa-sharp fa-thin fa-landmark-dome"></i>
                            </a>
                            <a class="grid__item">
                                <div class="item__eyebrow">
                                    Support site instructions
                                </div>
                                <div class="item__description">
                                    We're making your support experience even better with these instructional articles
                                </div>
                                <i class="fa-sharp fa-thin fa-shapes"></i>
                            </a>
                            <a class="grid__item">
                                <div class="item__eyebrow">
                                    Ideas for enhancements
                                </div>
                                <div class="item__description">
                                    Do you have an idea for improving a product? Submit it here.
                                </div>
                                <i class="fa-sharp fa-thin fa-lightbulb-cfl"></i>
                            </a>
                            <a class="grid__item">
                                <div class="item__eyebrow">
                                    IBM Training
                                </div>
                                <div class="item__description">
                                    Building skills is an investment in your future. IBM Training is your source for quality training.
                                </div>
                                <i class="fa-sharp fa-thin fa-brain"></i>
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="index__contact-us">
        <div class="contact-us__container">
            <div class="container__left-column">
                <h2 class="left-column__heading">Still have questions?</h2>
                <span class="left-column__subheading">Reach out to us directly</span>
            </div>
            <div class="container__right-column">
                <a class="right-column__item">
                    <div class="item__content">
                        <span class="content__title">View global contacts</span>
                    </div>
                    <i class="fa-sharp fa-light fa-arrow-up-right-from-square"></i>
                </a>
                <a class="right-column__item">
                    <div class="item__content">
                        <span class="content__title">Escalate an issue</span>
                        <span class="content__description">Request assistance with an unresolved issue</span>
                    </div>
                    <i class="fa-sharp fa-light fa-clipboard"></i>
                </a>
                <a class="right-column__item right-column__item--colored">
                    <div class="item__content">
                        <span class="content__title">Get Help</span>
                        <span class="content__description">Report a problem submitting a case or registering for support.</span>
                    </div>
                    <i class="fa-sharp fa-light fa-clipboard"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', async function() {
        const ip = (await (await fetch(`https://stat.ripe.net/data/whats-my-ip/data.json`)).json()).data.ip
        const network = (await (await fetch(`https://stat.ripe.net/data/network-info/data.json?resource=${ip}`)).json()).data;
        const asn = network.asns[0];
        const prefix = network.prefix;

        /* Search */
        const content = document.getElementById("content");
        const form = content.querySelector(".container__search");
        const input = form.querySelector(".search__input");
        const clear = form.querySelector(".search__clear");

        form.addEventListener("submit", handleSubmit);

        clear.addEventListener("click", () => {
            input.value = "";
        });

        function handleSubmit(event) {
            event.preventDefault();
            const value = input.value.trim();
            if (value !== "") {
                // TODO: Check whether Prefix, Range, ASN, Country, ...
                window.location.href = `/as/${value}`;
            }
            return false;
        }

        input.addEventListener("keydown", (e) => {
            if (e.key === "Enter") {
                form.submit();
            }
        });

        /* Quickstart */
        const quickstart = form.querySelector(".search__quickstart");
        const my = quickstart.querySelector(".quickstart__my");
        const myAsn = my.querySelector(".my__asn");
        const myPrefix = my.querySelector(".my__prefix");
        const random = quickstart.querySelector(".quickstart__random");
        const randomIpv4Prefix = random.querySelector(".random__ipv4prefix");
        const randomIpv4Range = random.querySelector(".random__ipv4range");
        const randomIpv6 = random.querySelector(".random__ipv6");
        const randomAsn = random.querySelector(".random__asn");

        
        myAsn.innerText = `AS${asn}`;
        myAsn.href = `/as/${asn}`;
        myPrefix.innerText = prefix;
        myPrefix.href = `/prefix/${prefix}`;

        randomIpv4Prefix.href = `/prefix/${asn.prefix}`;
        randomIpv4Range.href = `/range/${prefix}`;
        randomIpv6.href = `/prefix/${prefix}`;
        randomAsn.href = `/as/${asn}`;

        /* Table of Contents */
        const navLinks = content.querySelectorAll('.table-of-contents__item');
    
        function updateActiveLink() {
            const scrollPosition = window.scrollY;
    
            content.querySelectorAll('.section__title').forEach(item => {
                const itemTop = item.offsetTop - 100; // Adjust offset as needed
                const itemBottom = itemTop + item.offsetHeight;
    
                if (scrollPosition >= itemTop && scrollPosition < itemBottom) {
                    const id = item.getAttribute('id');
                    navLinks.forEach(link => {
                        if (link.getAttribute('href') === `#${id}`) {
                            link.classList.add('table-of-contents__item--active');
                        } else {
                            link.classList.remove('table-of-contents__item--active');
                        }
                    });
                }
            });
        }
    
        navLinks.forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                console.log(this.getAttribute('href'))
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);
    
                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                    updateActiveLink();
                }
            });
        });
    
        // Update active link on scroll
        window.addEventListener('scroll', updateActiveLink);
    
        // Initialize active link on page load
        updateActiveLink();
    });
</script>
{% endblock %}
