{% extends 'base.html' %}

{% block title %}
BGPDATA &mdash; {{ resource }}
{% endblock %}

{% block content %}
<div class="content__index">
    <div class="index__hero">
        <div class="hero__container">
            <span class="container__welcome-message"></span>
            <h1 class="container__heading">
                Explore the Internet
            </h1>
            <div
                class="container__search"
                role="search"
            >
                <i class="fa-sharp fa-light fa-magnifying-glass"></i>
                <label
                    class="search__label"
                    for="searchbar"
                >Search</label
                ><input
                    class="search__input"
                    type="text"
                    role="searchbox"
                    autocomplete="off"
                    id="searchbar"
                    placeholder="Enter an IP address/prefix, ASN, country code or hostname"
                />
                <button
                    class="search__clear"
                    type="button"
                    aria-label="Clear search"
                >
                    <i class="fa-sharp fa-light fa-xmark"></i>
                </button>
            </div>
            <div class="container__cards">
                <a class="cards__item">
                    <div class="item__title">View your cases</div>
                    <div class="item__description">
                        Check the status of active cases and review case history
                    </div>
                    <i class="fa-sharp fa-light fa-eye"></i>
                </a>
                <a class="cards__item">
                    <div class="item__title">Open a case</div>
                    <div class="item__description">
                        If you're unable to resolve an issue on your own, receive help from our experts
                    </div>
                    <i class="fa-sharp fa-light fa-folder-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="index__content">
        <div class="content__wrapper">
            <div class="wrapper__container">
                <ul
                    class="container__table-of-contents"
                    data-current-section="Popular resources"
                >
                    <li
                        class="table-of-contents__item table-of-contents__item--active"
                    >
                        <a
                            data-label="Popular resources"
                            href="#popular-resources"
                            aria-current="location"
                            >Popular resources</a
                        >
                    </li>
                    <li
                        class="table-of-contents__item"
                    >
                        <a
                            data-label="Documentation &amp; communities"
                            href="#documentation-communities"
                            >Documentation &amp; communities</a
                        >
                    </li>
                    <li
                        class="table-of-contents__item"
                    >
                        <a
                            data-label="Downloads, fixes &amp; updates"
                            href="#downloads-fixes-updates"
                            >Downloads, fixes &amp; updates</a
                        >
                    </li>
                    <li
                        class="table-of-contents__item"
                    >
                        <a
                            data-label="Support basics"
                            href="#support-basics"
                            >Support basics</a
                        >
                    </li>
                    <li
                        class="table-of-contents__item"
                    >
                        <a
                            data-label="The fine print"
                            href="#the-fine-print"
                            >The fine print</a
                        >
                    </li>
                </ul>
                <div class="container__content">
                    <section class="content__section">
                        <h2 class="section__title">Popular resources</h2>
                        <div class="section__grid">
                            <a class="grid__item grid__item--dark">
                                <div class="item__eyebrow">
                                    Downloads
                                </div>
                                <h3 class="item__heading">
                                    Fix Central
                                </h3>
                                <div class="item__description">
                                    Download fixes and updates for your software, hardware and operating system
                                </div>
                                <i class="fa-sharp fa-light fa-arrow-right"></i>
                            </a>
                            <a class="grid__item grid__item--dark">
                                <div class="item__eyebrow">
                                    Downloads
                                </div>
                                <h3 class="item__heading">
                                    Passport Advantage
                                </h3>
                                <div class="item__description">
                                    Download your IBM software products, licenses, subscriptions and upgrades
                                </div>
                                <i class="fa-sharp fa-light fa-arrow-right"></i>
                            </a>
                            <a class="grid__item grid__item--dark">
                                <div class="item__eyebrow">
                                    Documentation
                                </div>
                                <h3 class="item__heading">
                                    IBM Documentation
                                </h3>
                                <div class="item__description">
                                    Search through all product documentation
                                </div>
                                <i class="fa-sharp fa-light fa-arrow-right"></i>
                            </a>
                            <a class="grid__item grid__item--dark">
                                <div class="item__eyebrow">
                                    Community
                                </div>
                                <h3 class="item__heading">
                                    Support forums
                                </h3>
                                <div class="item__description">
                                    Get questions answered by support professionals and other users
                                </div>
                                <i class="fa-sharp fa-light fa-arrow-right"></i>
                            </a>
                            <a class="grid__item grid__item--dark">
                                <div class="item__eyebrow">
                                    Offerings
                                </div>
                                <h3 class="item__heading">
                                    Support plans
                                </h3>
                                <div class="item__description">
                                    Explore and compare support options
                                </div>
                                <i class="fa-sharp fa-light fa-arrow-right"></i>
                            </a>
                            <a class="grid__item grid__item--dark">
                                <div class="item__eyebrow">
                                    Help desk
                                </div>
                                <h3 class="item__heading">
                                    Get help
                                </h3>
                                <div class="item__description">
                                    Report a problem submitting a case or registering for support
                                </div>
                                <i class="fa-sharp fa-light fa-clipboard"></i>
                            </a>
                        </div>
                    </section>
                    <section class="content__section">
                        <h2 class="section__title">Documentation & communities</h2>
                        <div class="section__grid section__grid--small-gap">
                            <a class="grid__item">
                                <h3 class="item__heading">
                                    Fix Central
                                </h3>
                                <div class="item__description">
                                    Download fixes and updates for your software, hardware and operating system
                                </div>
                                <i class="fa-sharp fa-thin fa-arrow-right"></i>
                            </a>
                            <a class="grid__item">
                                <h3 class="item__heading">
                                    Passport Advantage
                                </h3>
                                <div class="item__description">
                                    Download your IBM software products, licenses, subscriptions and upgrades
                                </div>
                                <i class="fa-sharp fa-thin fa-arrow-right"></i>
                            </a>
                            <a class="grid__item">
                                <h3 class="item__heading">
                                    IBM Documentation
                                </h3>
                                <div class="item__description">
                                    Search through all product documentation
                                </div>
                                <i class="fa-sharp fa-thin fa-arrow-right"></i>
                            </a>
                            <a class="grid__item">
                                <h3 class="item__heading">
                                    Support forums
                                </h3>
                                <div class="item__description">
                                    Get questions answered by support professionals and other users
                                </div>
                                <i class="fa-sharp fa-thin fa-arrow-right"></i>
                            </a>
                            <a class="grid__item">
                                <h3 class="item__heading">
                                    Support plans
                                </h3>
                                <div class="item__description">
                                    Explore and compare support options
                                </div>
                                <i class="fa-sharp fa-thin fa-arrow-right"></i>
                            </a>
                            <a class="grid__item">
                                <h3 class="item__heading">
                                    Get help
                                </h3>
                                <div class="item__description">
                                    Report a problem submitting a case or registering for support
                                </div>
                                <i class="fa-sharp fa-thin fa-clipboard"></i>
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const searchbar = document.querySelector(".searchbar");
    const form = searchbar.querySelector(".searchbar__form");
    const input = form.querySelector(".form__input");
    const clear = form.querySelector(".form__clear");
    const submit = form.querySelector(".form__submit");

    clear.addEventListener("click", () => {
        input.value = "";
    });

    function handleSubmit(event) {
        event.preventDefault();
        const resource = input.value.trim();
        if (resource !== "") {
            window.location.href = `/resource/${resource}`;
        }
        return false;
    }

    submit.addEventListener("click", () => {
        if (input.value.trim() !== "") {
            form.submit();
        }
    });

    input.addEventListener("keydown", (e) => {
        if (e.key === "Enter") {
            form.submit();
        }
    });

    // Experimental:
    document.addEventListener('DOMContentLoaded', function() {
        const navLinks = document.querySelectorAll('.navigation__link');
        const contentWidgets = document.querySelector('.content__widgets');
        const tabItems = document.querySelectorAll('.tabs__item');
    
        function updateActiveLink() {
            const scrollPosition = window.scrollY;
    
            document.querySelectorAll('.widgets__item').forEach(item => {
                const itemTop = item.offsetTop - 100; // Adjust offset as needed
                const itemBottom = itemTop + item.offsetHeight;
    
                if (scrollPosition >= itemTop && scrollPosition < itemBottom) {
                    const id = item.getAttribute('id');
                    navLinks.forEach(link => {
                        if (link.getAttribute('href') === `#${id}`) {
                            link.classList.add('navigation__link--active');
                        } else {
                            link.classList.remove('navigation__link--active');
                        }
                    });
                }
            });
        }
    
        function switchTab(tabName) {
            tabItems.forEach(item => {
                if (item.dataset.tab === tabName) {
                    item.classList.add('tabs__item--active');
                } else {
                    item.classList.remove('tabs__item--active');
                }
            });
    
            // Update URL hash
            window.location.hash = `tabId=${tabName}`;
        }
    
        function getTabFromHash() {
            const hash = window.location.hash.substring(1);
            const params = new URLSearchParams(hash);
            return params.get('tabId') || 'overview';
        }
    
        function handleTabClick(e) {
            const tabName = e.target.dataset.tab;
            switchTab(tabName);
        }
    
        tabItems.forEach(item => {
            item.addEventListener('click', handleTabClick);
        });
    
        navLinks.forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);
    
                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                    updateActiveLink();
                }
            });
        });
    
        // Update active link on scroll
        window.addEventListener('scroll', updateActiveLink);
    
        // Initialize active link on page load
        updateActiveLink();
    
        // Check URL hash and switch to the corresponding tab
        const initialTab = getTabFromHash();
        switchTab(initialTab);
    
        // Listen for hash changes
        window.addEventListener('hashchange', function() {
            const newTab = getTabFromHash();
            switchTab(newTab);
        });
    });
</script>
{% endblock %}
