.content__as {
    .as__hero {
        background-color: #262626;

        .hero__container {
            margin-left: 12.5%;
            display: block;
            max-width: 72%;
            flex: 0 0 72%;
            padding: 3rem 0;
            width: 100%;

            .container__heading {
                font-weight: 100;
                font-size: 3rem;
                line-height: 1.125;
                color: #fff;
                margin-top: 0;
                margin-bottom: 1rem;
            }

            .container__asn {
                font-weight: 100;
                font-size: 2rem;
                line-height: 1.5;
                color: #c6c6c6;
            }
        }
    }

    .as__content {
        display: flex;
        flex-direction: row;
        margin-left: 12.5%;
        max-width: 87.5%;
        min-height: 800px;
        
        .content__left-column {
            flex-grow: 1;
            padding-top: 1.25rem;
        }

        .content__right-column {
            flex-shrink: 0;
            width: 385px;
            background: #F4F4F4;
            display: flex;
            flex-direction: column;
            padding-top: 3rem;
            padding-left: 1rem;
            padding-right: 5rem;
            padding-bottom: 1rem;

            .right-column__manage {
                padding: 1.25rem;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                .manage__title {
                    font-weight: 500;
                    font-size: 1.25rem;
                    line-height: 1.5625rem;
                }

                .manage__actions {
                    display: flex;
                    flex-direction: row;
                    column-gap: 1rem;

                    .actions__button {
                        height: 42px;
                        padding: 0 1.5rem;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #0f62fe;
                        background-color: transparent;
                        color: #0f62fe;
                        font-size: .9rem;
                        font-weight: 300;
                        line-height: 1.28572;
                        letter-spacing: .16px;
                        display: flex;
                        column-gap: 14px;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        transition: background 70ms cubic-bezier(0, 0, .38, .9);

                        &:hover {
                            background: #0f62fe;
                            color: #ffffff;
                        }
                    }
                }
            }

            .right-column__details {
                padding: 1.25rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .details__title {
                    font-weight: 500;
                    font-size: 1.25rem;
                    line-height: 1.5625rem;
                }

                .details__section {
                    display: flex;
                    flex-direction: column;
                    font-size: 1rem;
                    line-height: 1.625rem;
                    gap: 2.5px;

                    .section__title {
                        font-weight: 500;
                    }

                    .section__value {
                        font-weight: 250;

                        &:is(a) {
                            color: #204ff5;
                            text-decoration: none;
    
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .right-column__action {
                margin-top: auto;
                border-top: 1px solid gray;
                padding: 1.25rem;
                display: flex;
                font-size: 1rem;
                flex-direction: column;
                gap: 1.25rem;

                .action__label {
                    i {
                        color: #525252;
                    }
                }

                .action__button {
                    border-width: 1px;
                    border-style: solid;
                    border-color: transparent;
                    background-color: #393939;
                    color: #fff;
                    font-size: .875rem;
                    font-weight: 400;
                    line-height: 1.28572;
                    letter-spacing: .16px;
                    display: inline-flex;
                    max-width: 20rem;
                    min-height: 3rem;
                }
            }
        }

    }
}