#resource {
    display: flex;
    flex-direction: column;
    gap: 22px;
    height: 100%;

    .content {
        display: grid;
        grid-template-columns: auto minmax(300px, 1fr);
        grid-template-rows: auto minmax(300px, 1fr);
        position: relative;
        background: #ffffff;
        padding: 24px 31px;
        height: 100%;
        
        .content__tabs {
            grid-column: 1 / span 2;
            grid-row: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 39px;
            padding-left: 115px;
            gap: 15px;

            .tabs__item {
                height: 40px;
                padding: 10px 17px;
                font-size: 16px;
                font-weight: 400;
                border-bottom: 2px solid transparent;
                color: #424C6D;
                cursor: pointer;

                &--active {
                    border-bottom: 2px solid #131F48;
                    color: #131F48;
                }
            }
        }

        .content__navigation {
            grid-column: 1;
            grid-row: 2;
            position: sticky;
            display: flex;
            flex-direction: column;
            top: 100px;
            left: 0;
            height: fit-content;
            width: 100%;
            gap: 7px;

            .navigation__title {
                font-size: 14px;
                font-weight: 500;
                color: #131F48;
            }

            .navigation__link {
                padding: 0 11px;
                font-size: 14px;
                font-weight: 400;
                color: #424C6D;
                border-left: 2px solid transparent;
                text-decoration: none;
                transition: all 0.3s ease;

                &--active {
                    color: #3A61E0;
                    border-left: 2px solid #3A61E0;
                }
            }
        }

        .content__widgets {
            grid-column: 2;
            grid-row: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 15px;
            width: 100%;
            gap: 31px;

            .widgets__item {
                border-radius: 8px;
                border: 1px solid #D0D2DA;
                width: 803px;
                height: 269px;
                flex-shrink: 0;
                padding: 24px 31px;
            }
        }
    }
}