<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}BGPDATA{% endblock %}</title>
        <link
            rel="icon"
            type="image/png"
            sizes="64x64"
            href="{{ url_for('static',filename='images/favicon-64x64.png')}}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ url_for('static',filename='images/favicon-32x32.png')}}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ url_for('static',filename='images/favicon-16x16.png')}}"
        />

        <!-- JavaScript -->
        <script src="{{ url_for('static',filename='libs/jquery-3.6.0.min.js')}}"></script>

        <!-- FontAwesome -->
        <link
            href="{{ url_for('static', filename='icons/css/fontawesome.css') }}"
            rel="stylesheet"
        />
        <link
            href="{{ url_for('static', filename='icons/css/sharp-light.css') }}"
            rel="stylesheet"
        />
        <link
            href="{{ url_for('static', filename='icons/css/sharp-thin.css') }}"
            rel="stylesheet"
        />

        <!-- Styles -->
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='styles/main.css')}}"
        />

        <!-- Additional headers -->
        {% block headers %}{% endblock %}
    </head>
    <body>
        <main id="app">
            {% include "layout/header.html" %}
            {% include "layout/navigation.html" %}
            <div id="content">
                {% block content %}
                <!-- Content for specific views will be inserted here -->
                {% endblock %}
            </div>
            {% include "layout/footer.html" %}
        </main>

        <!-- Other scripts -->
        {% block scripts %}{% endblock %} {% include "layout/analytics.html" %}
    </body>
</html>
